body {
    background-color: #fa5fe3;
    margin: 20px;
    display: block;
}
h1 {
    font-family: 'Impact', fantasy;
    font-weight: 750;
    font-size: 8rem;
    font-style: normal 8deg;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fcfc03;
    text-align: center;
    border: 3px solid #fcfc03;
}
h2 {
    font-family: 'Palatino, URW Palladio L', serif;
    font-weight: 600;
    font-size: 3rem;
    font-style: normal 8deg;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #f5f540;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    font-style: normal 8deg;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 26px;
    color: #fcfc81;
}
p {
    font-family: 'American Typewriter', serif;
    font-weight: 600;
    font-size: 1rem;
    font-style: normal 8deg;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: justify;
    color: #0f0f00;
}

a:link {
color: #f7f77c;
text-decoration: none;
}
a:visited {
  color: #dbdb04;
  text-decoration: none;
}
a:hover, a:active{
  text-decoration: underline;
}

